.button-lg {
    background-color: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $size-l;
    width: 100%;
    margin-bottom: $size-m;
    padding: 2.4rem;
}

.button-lg:disabled {
    opacity: 0.5;
}

.button {
    background-color: $purple;
    border: none;
    border-bottom: 0.3rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: $size-s;
}

.button--link {
    background: none;
    border: none;
    color: $lilac;
    padding: 0;
}

@media (min-width: $breakpoint-desktop) {
    .button-lg {
        margin-bottom: $size-xl;
    }
}