// Colors
$black: #20222b;
$lilac: #a5afd7;
$blue: #3c4251;
$blue-dk: #333745;
$blue-lt: #464b5e;
$purple: #8357c5;

// Sizes
$size-s: 1.2rem;
$size-m: 1.6rem;
$size-l: 3.2rem;
$size-xl: 4.8rem;

// Breakpoints
$breakpoint-desktop: 45rem;